@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

a {
    text-decoration: none;
}

:root {
    --mainfont: 'Poppins', sans-serif;
    --fontColor: #111010;
    --colorMix: #fb5607;
    --mainWhite: #fafafa;
}

.career {
    border: 1px solid #d2dfff;
    @apply bg-light-1 rounded-2xl;
}