<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Backend development</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Backend development</h1>
                <img src="./../assets/career-images/backend.jpg" alt="backend-photo"/>
                <div>
                    <p class="mb-1">While front-end development is the development of the user interface (visuals and graphics), backend development is the aspect of web development responsible for developing the logic behind the site’s front-end component. Basically, it is in charge of the behind-the-scenes activities of the website that occur when a user performs an action on the website.</p>                            
                    <p class="mb-1">Backend development is the development of the server-side of a website. It is responsible for APIs, databases, servers, and backend logic.</p>
                    <p class="mb-1">The backend of a website is often developed by seamlessly integrating applications, databases, and servers. Backend developers create codes that aid the browser in interacting with the databases (storing data in the database, modifying the data, reading the data, or erasing the data from the database).</p>
                    <p class="mb-1">For instance, after filling a form on a website and submitting it, the data you provided will be transferred to the server, which processes it and then sends it to the database for storage. </p>
                    
                    <h2>Skills Required for Backend Development</h2>
                    <p class="mb-1">The main skills required for backend development include; </p>
                    <ul class="lists">
                        <li class="list-item">Backend Programming Languages</li>
                        <li class="list-item">Databases</li>
                        <li class="list-item">Server</li>
                        <li class="list-item">APIs</li>
                    </ul>
                    
                    <h2 style="margin-top: 4rem;">Types Of Backend Programming Languages </h2>
                    <p class="mb-1">There are two main types of programming languages for Backend.</p>
                    
                    <h3 class="mt-2">Object-Oriented Programming (OOP) Language</h3>
                    <p class="mb-1">This is the type of programming language that enables developers to build their backend with objects and classes. This helps developers develop their program in a way that would make it reusable. Common examples of this type of backend programming language are Java, .NET, and Python. </p>
                    
                    <h3 class="mt-2">Functional Programming Language</h3>
                    <p class="mb-1">This type of programming language requires the backend to be linked with mathematical functions style. It uses declarative syntax to create pure functions. Common examples of this type of programming language include SQL, Haskell, R, and Clojure. </p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href="https://docs.python.org/3/tutorial/index.html">Python Official Documentation</a></li>
                    <li><a href="https://docs.python-guide.org/">The Hitchhiker’s Guide to Python</a></li>
                    <li><a href="https://www.pythonforbeginners.com/">PythonForBeginners</a></li>
                    <li><a href="https://www.edx.org/learn/python">Edx - Python</a></li>
                    <li><a href="https://wwhttps://www.geeksforgeeks.org/python-programming-language/">GeeksforGeeks</a></li>
                    <li><a href="https://www.pythoncheatsheet.org/">Python Cheatsheet</a></li>
                    <li><a href="https://pythonspot.com/en/all-tutorials/">Pythonspot</a></li>
                    <li><a href="https://www.codeconquest.com/tutorials/python/"> Python Tutorial- Codeconquest</a></li>
                    <li><a href="https://thepythonguru.com/">ThePythonGuru</a></li>
                    <li><a href="https://www.python-course.eu/python3_course.php">Python Course</a></li>
                    <li><a href="https://stephensugden.com/crash_into_python/">Crash into Python</a></li>
                    <li><a href="http://pythontutor.com/">Pyton Tutor</a></li>
                    <li><a href="https://diveintopython3.net/">Dive Into Python 3</a></li>
                    <li><a href="http://www.rafekettler.com/magicmethods.html">Learning Python Magic Methods</a></li>
                    <li><a href="https://learnxinyminutes.com/docs/python/">Learn X In Y Minutes - Python</a></li>
                    <li><a href="https://progate.com/languages/python">Progate - Python</a></li>
                    <li><a href="https://pythonprogramming.net">Python Programming - Python</a></li>
                    <li><a href="https://www.thinkful.com/learn/intro-to-python-tutorial/Setup">Programming Fundamentals in Python</a></li>
                    <li><a href="https://automatetheboringstuff.com">Automate the Boring Stuff with Python</a></li>
                    <li><a href="https://www.tutorialspoint.com/python/index.htm">TutorialsPoint - Python</a></li>
                    <li><a href="https://pythonbasics.org">Python Basics</a></li>
                    <li><a href="https://www.codecademy.com/catalog/language/python">Codecademy - Python</a></li>
                    <li><a href="https://www.kaggle.com/learn/python">Kaggle - Python</a></li>
                    <li><a href="https://www.w3schools.com/python/">W3schools - Python</a></li>
                    <li><a href="https://www.programiz.com/python-programming">Programiz - Python</a></li>
                    <li><a href="https://realpython.com">Real Python</a></li>
                    <li><a href="https://pynative.com">Pynative</a></li>
                    <li><a href="https://www.sololearn.com/learning/1073">Sololearn - Python</a></li>
                    <li><a href="https://developers.google.com/edu/python">Google's Python Class</a></li>
                    <li><a href="https://www.fullstackpython.com/">Full Stack Python</a></li>
                    <li><a href="https://www.w3resource.com/python/python-tutorial.php">W3resource - Python</a></li>
                    <li><a href="https://intellipaat.com/blog/tutorial/python-tutorial/">IntelliPaat - Python</a></li>
                    <li><a href="http://www.alan-g.me.uk/l2p/index.htm">Learning To Program</a></li>
                    <li><a href="https://www.afterhoursprogramming.com/tutorial/python/">After Hours Programming - Python</a></li>
                    <li><a href="https://learnpython.org">Learn Python</a></li>
                    <li><a href="https://py4e.com">Py4e</a></li>
                </ul>
                <h5 class="mt-2">Texts</h4>
                    <ul>
                        <li><a
                                href="https://www.pdfdrive.com/python-crash-course-a-hands-on-project-based-introduction-to-programming-e190067998.html">Python
                                Crash Course: A Hands-On, Project-Based Introduction to Programming</a></li>
                        <li><a href="https://www.pdfdrive.com/fluent-python-e175513143.html">Fluent Python</a></li>
                        <li><a href="https://greenteapress.com/wp/think-python-2e/">Think Python</a></li>
                        <li><a href="https://learnpythonthehardway.org/book/">Learn Python The Hard Way</a></li>
                        <li><a href="https://greenteapress.com/wp/learning-with-python/">Learning with Python- How to Think Like a Computer
                                Scientist</a></li>
                        <li><a href="https://www.pdfdrive.com/learning-python-powerful-object-oriented-programming-e169780738.html">Learning
                                Python: powerful object-oriented programming</a></li>
                        <li><a href="https://www.pdfdrive.com/python-cookbook-recipes-for-mastering-python-3-e187326224.html">Python Cookbook:
                                Recipes for Mastering Python 3</a></li>
                        <li><a href="https://pymbook.readthedocs.io/en/latest/index.html#welcome-to-python-for-you-and-me">Python for you and
                                me</a></li>
                        <li><a href="https://greenteapress.com/wp/learning-with-python/">Learning with Python: How to Think Like a Computer
                                Scientist</a></li>
                        <li><a href="https://nostarch.com/beyond-basic-stuff-python">Beyond the Basic Stuff with Python</a></li>
                        <li><a href="https://nostarch.com/crackingcodes">Cracking Codes with Python</a></li>
                        <li><a href="https://python.swaroopch.com/">A Byte of Python</a></li>
                        <li><a href="https://book.pythontips.com/en/latest/#">Intermediate Python</a></li>
                        
                        <li><a href="https://www.academia.edu/44608760/GLOBAL_EDITION_FOURTH_EDITION_Starting_Out_with_Python">Starting Out With
                                Python</a></li>
                        <li><a href="https://inventwithpython.com/invent4thed/">Invent Your Own Computer Games with Python</a></li>
                    </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>   
            </div>
        </main>
    </body>
</html>
