<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Backend development</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Backend development</h1>
                <img src="./../assets/career-images/backend.jpg" alt="backend-photo"/>
                <div>
                    <p class="mb-1">While front-end development is the development of the user interface (visuals and graphics), backend development is the aspect of web development responsible for developing the logic behind the site’s front-end component. Basically, it is in charge of the behind-the-scenes activities of the website that occur when a user performs an action on the website.</p>                            
                    <p class="mb-1">Backend development is the development of the server-side of a website. It is responsible for APIs, databases, servers, and backend logic.</p>
                    <p class="mb-1">The backend of a website is often developed by seamlessly integrating applications, databases, and servers. Backend developers create codes that aid the browser in interacting with the databases (storing data in the database, modifying the data, reading the data, or erasing the data from the database).</p>
                    <p class="mb-1">For instance, after filling a form on a website and submitting it, the data you provided will be transferred to the server, which processes it and then sends it to the database for storage. </p>
                    
                    <h2>Skills Required for Backend Development</h2>
                    <p class="mb-1">The main skills required for backend development include; </p>
                    <ul class="lists">
                        <li class="list-item">Backend Programming Languages</li>
                        <li class="list-item">Databases</li>
                        <li class="list-item">Server</li>
                        <li class="list-item">APIs</li>
                    </ul>
                    
                    <h2 style="margin-top: 4rem;">Types Of Backend Programming Languages </h2>
                    <p class="mb-1">There are two main types of programming languages for Backend.</p>
                    
                    <h3 class="mt-2">Object-Oriented Programming (OOP) Language</h3>
                    <p class="mb-1">This is the type of programming language that enables developers to build their backend with objects and classes. This helps developers develop their program in a way that would make it reusable. Common examples of this type of backend programming language are Java, .NET, and Python. </p>
                    
                    <h3 class="mt-2">Functional Programming Language</h3>
                    <p class="mb-1">This type of programming language requires the backend to be linked with mathematical functions style. It uses declarative syntax to create pure functions. Common examples of this type of programming language include SQL, Haskell, R, and Clojure. </p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>   
            </div>
        </main>
    </body>
</html>