<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Cloud engineering</title> 
    </head>
    <body> 
        <main>
            <article>
                <h1>Cloud engineering</h1>
                <img src="./../assets/career-images/cloud.jpg" alt="cloud-photo"/>
                <div>
                    <p class="mb-1">Regarded as one of the most in-demand tech jobs of the decade, cloud engineering owes the rise in its demand to the fact that a larger number of organizations are moving their business activities to the cloud. This is due to the versatility, security, ease of accessibility, and shareability that comes with cloud computing.</p>                            
                    <p class="mb-1">Cloud Engineers are in charge of building new cloud infrastructure as well as maintaining existing ones. They also research and provide solutions to cloud problems-like function (like database storage) migration to cloud storage. </p>
                    <p class="mb-1">Cloud Engineering requires some technical skills to perform some tasks like migration. Cloud engineers should be able to ensure the business’s data remains secure by implementing the best techniques. 
                        Some common tasks of cloud engineers include;</p>
                        <ul class="lists">
                            <li class="list-item">Aiding migration of computer systems to the cloud.</li>
                            <li class="list-item">Modifying cloud infrastructure elements like security services and networking.</li> 
                            <li class="list-item">Develop applications and databases that work well on cloud servers. </li>
                            <li class="list-item">Manage cloud infrastructure and data storage components. </li>
                        </ul>
                    
                    <h2 style="margin-top: 4rem;">Roles In Cloud Engineering</h2>
                    <p class="mb-1">There are a few roles in cloud engineering, and they include;</p>
                    <p class="mb-1"><b>Cloud Engineering:</b> This role focuses on evaluating the infrastructure of a business and provides options to migrate to the cloud. </p>
                    <p class="mb-1"> <b>Cloud Architecture:</b> This role is primarily concerned with assembling cloud infrastructure.</p>
                    <p class="mb-1"><b>Cloud Development:</b> This role focuses on developing applications, databases, and functions that can run on the cloud.</p>
                    <p class="mb-1"><b>Cloud Administration:</b> They are responsible for managing an organization’s cloud-based services. They are tasked with managing requests and implementing policies for cloud infrastructure.</p>
                      
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li>
                        <a href="https://docs.microsoft.com/en-us/learn/">Microsoft Learn</a>
                    </li> 
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/c/AcloudGuru">A Cloud Guru</a>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li>
                        <a href="https://adorahack.selar.co/cloud-engineering-book">Cloud Engineering for beginners</a>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html> 