<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Database Administrator</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Database Administrator</h1>
                <img src="./../assets/career-images/database-admin.jpg" alt="database-admin-photo"/>
                <div>
                    <p class="mb-1">With the data generation rate increasing exponentially, the need for a proper way to manage all these data is also increasing. That is where a Database Administrator comes in. A database administrator is someone that utilizes software to store, organize and protect different forms of data and ensures that the data is readily available to users. They can be found working in a wide range of industries, including banking, software, IT, health, insurance and so on. </p>                            
                    <p class="mb-1">For instance, a database administrator is responsible for making sure that a bank teller has easy and quick access to customer information so that can quickly help you with your banking issue. </p>
                    <p>Here are the responsibilities of a data administrator;</p>

                    <ul class="lists">
                        <li class="list-item">Upgrade and installation of database servers or application tools</li>
                        <li class="list-item">Planning for and assigning physical database system requirements like disk space, memory, and network requirements. </li>
                        <li class="list-item">Improve structure of database based on information provided by software developers.</li>
                        <li class="list-item">Building user-profiles and keeping the database secure by controlling user permissions. </li>
                        <li class="list-item">Developing backups and recovery strategies and routinely checking the backups.</li>
                        <li class="list-item">Utilizing manual and automated tools to manage and optimize database performance. </li>
                        <li class="list-item">Making sure the database complies with the database vendor license agreement. </li>
                        <li class="list-item">Migrating databases to new versions of the software. </li>
                        <li class="list-item">Providing technical support for database systems. </li>
                        <li class="list-item">Developing reports by performing queries from the database. </li>
                    </ul>
                   
                    
                    <h2 style="margin-top: 4rem;">Specializations of Database Administration</h2>
                    <h3 class="mt-2">System Database Administration</h3>
                    <p class="mb-1"> This is the specialization that focuses on the physical and technical parts of the databases. Tasks include fixing program bugs and installing upgrades. They are responsible for optimizing and improving the performance of databases.</p>
                    
                    <h3 class="mt-2">Application Database Administration</h3>
                    <p class="mb-1">This specialization is concerned with integrating databases in applications that require them. </p>
                     
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>