<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Data Science</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Data Science</h1>
                <img src="./../assets/career-images/data-science.jpg" alt="data-science-photo"/>
                <div>
                    <p class="mb-1">Data Science is an integration of multiple disciplines, including statistics, software development, and business, to derive essential insights from data by carrying out controlled analysis on the data. Basically, the aim of any data science project is to derive actionable insights for the business from which the data was generated. This will help the business make improved business decisions. </p>                            
                    <p class="mb-1"> Data science enables businesses to figure out patterns in large amounts of unstructured and structured datasets. This, in turn, helps businesses enhance efficiency, identify potential business opportunities, improve market advantage, and optimize costs. </p>
                    <p class="mb-1"> Data Science can be found at the center of Personal assistants like Cortana, Siri, and Alexa. Machine learning is one of the specializations of Data science, and it is also at the core of autonomous self-driving cars, chatbots, assisted surgery robots, recommender systems in Netflix and Amazon, Health recognition machines, and spam detection algorithms in Gmail. </p>
                    <p class="mb-1">Data Science often involves mining huge amounts of raw data, both unstructured and structured, to find patterns and get useful insights from them. It is an interdisciplinary field with a basis in fields like computer science, machine learning algorithm development, inference, predictive analysis, and statistics. </p>                            
                    
                    <h2 style="margin-top: 4rem;">Data Science Life Cycle</h2>
                    <p class="mb-1"><b>Data Acquisition:</b> This involves collecting data based on certain business objectives</p>
                    <p class="mb-1"><b>Data Pre-Processing:</b> This involves storing data, cleaning data, data processing, and data architecture. This makes data easier to use. </p>
                    <p class="mb-1"><b>Data Processing:</b> This involves data mining, data modeling, summarizing, and clustering. This is done to create effective data. </p>
                    <p class="mb-1"><b>Data Analysis:</b> This involves performing exploratory analysis, regression, qualitative analysis, predictive analysis, and so on.</p>
                    <p class="mt-1"> <b>Data Visualization:</b> This is the stage where the data scientists communicate their findings to the shareholders. It involves data visualization and data reporting. It helps businesses and policy makers make better decisions.</p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li>
                        <a href="https://www.dataquest.io/data-science-courses/">Dataquest</a>
                    </li>
                    <li>
                        <a href="https://www.datacamp.com/">Data Camp</a>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>