<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Development Operations</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Development Operations</h1>
                <img src="./../assets/career-images/dev-ops.jpg" alt="dev-ops-photo"/>
                <div>
                    <p class="mb-1">Development Operation or DevOps as it is popularly known; is a set of practices that combines software development (Dev) and IT operations (Ops) in order to reduce the development cycle of software systems while providing speedy delivery with high-quality software products. </p>                            
                    <p class="mb-1">DevOps combines disciplines, tools, cultural philosophies, and practices to help companies deliver software products and scale at high velocity. The main aim of DevOps is to optimize the speed at which software developers build, test, deliver and iterate software products. </p>
                    <p class="mb-1">Using the DevOps model means that development and operation teams are no longer operating separately, instead, they merge and work closely together across all the software development cycles from development to deployment and operations.
                    </p> 
                    
                    <h2 style="margin-top: 4rem;">The benefits of DevOps</h2>
               
                    <h3 class="mt-2">Rapid Product Delivery Time</h3>
                    <p class="mb-1">DevOp models employ principles of automation, fast development cycles, and continuous development and testing to improve product delivery time. </p>
                    
                    <h3 class="mt-2">Better Collaboration</h3>
                    <p class="mb-1">The core of DevOps is a collaboration between Development and Operations teams. Compared to the traditional model where both teams are siloed and collaborations are reduced, DevOps allows for better collaboration between these teams.</p> 
                    
                    <h3 class="mt-2">Improved Customer Experience </h3>
                    <p class="mb-1">New software is often expected to have a lot of problems but with the DevOps model, organizations will not just reduce the problems with the new apps but also improve recovery time significantly.</p> 
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>