<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Frontend development</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Frontend development</h1>
                <img src="./../assets/career-images/frontend-development.jpg" alt="frontend-dev-photo"/>
                <div>
                    <p class="mb-1">Commonly referred to as Client-Side Development, Front-End Development is the software development aspect responsible for designing the client-side interface of the software, website, or application. Basically, front-end developers are responsible for developing everything a user sees and interacts with on the software. Their role is to turn the code written by back-end developers into an interactive graphical interface that will present information in a user-friendly format. </p>                            
                    <p class="mb-1">Developing software without a front end will result in a site or app with just codes that users with no programming background cannot understand. So basically, the role of front-end development is to help develop an interface that will allow users to easily interact with the back-end of a website, software, or application.</p>
                    <p class="mb-1">However, there are factors that a front-end needs to consider in order to be able to design an efficient front-end. The first one is the varying devices that often come in different screen sizes and resolutions, thus making the developer consider this during development. </p>
                    <p class="mb-1">The other factors include varying browser types and operating systems. This means that a front-end developer has to ensure the website, app or software is cross-browser, cross-OS, and cross-device. </p>

                    <h2 style="margin-top: 4rem;">Web Technologies Used For Frontend Development</h2>
                    <p class="mb-1">Developers can use many web technologies to convert codes into user-friendly graphical interfaces. However, the main ones are HTML (Hyper Text  Markup Language), CSS (Cascading Style Sheets), and JavaScript.</p>
                   
                    <h3 class="mt-2">HTML</h3>
                    <p class="mb-1">HTML is the programming language used for the standard markup of documents that are to be displayed on a website.</p>

                    <h3 class="mt-2">CSS</h3>
                    <p class="mb-1">CSS is the programming language used to style and structure the content of a website. It is used to design the layout and format of a website. </p>

                    <h3 class="mt-2">Javascript</h3>
                    <p class="mb-1">JavaScript is the programming language used to make websites interactive. It is responsible for enabling users to change website content with their actions.</p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li>
                        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2022 Web Development Bootcamp</a>
                    </li>
                    <li>
                        <a href="https://www.udemy.com/course/100-days-of-code-web-development-bootcamp/"> 100 Days Of Code - Web Development Bootcamp [2022] </a>
                    </li>
                    <li>
                        <a href="https://www.udemy.com/course/modern-html-css-from-the-beginning/">Modern HTML & CSS From The Beginning (Including Sass)</a>
                    </li>
                    <li>
                        <a href="https://www.udemy.com/course/design-and-develop-a-killer-website-with-html5-and-css3/">Build Responsive Real-World Websites with HTML and CSS</a>
                    </li>
                    <li>
                        <a href="https://www.udemy.com/course/modern-javascript-from-novice-to-ninja/">Modern JavaScript (Complete guide, from Novice to Ninja)</a>
                    </li> 
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li>
                        <a href="https://www.freecodecamp.org/learn/responsive-web-design/">Freecodecamp responsive web design module</a>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Texts</h4>
                <ul>
                    <li>
                        <a href="https://wtf.tw/ref/duckett.pdf"> HTML & CSS by Jon Duckett</a>
                    </li> 
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>

                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/results?search_query=brad+traversy">Brad traversy</a>
                    </li> 
                    <li>
                        <a href="https://www.youtube.com/watch?v=pACOweChpEU&list=PLgBH1CvjOA62oNEVgz-dECiCZCE_Q3ZFH"> Florin Pop</a>
                    </li> 
                    <li>
                        <a href="https://www.youtube.com/watch?v=-8ORfgUa8ow">John Smilga</a>
                    </li> 
                </ul>
            </div>
        </main>
    </body>
</html>