<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Machine Learning</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Machine Learning</h1>
                <img src="./../assets/career-images/machine-learning.jpg" alt="machine-learning-photo"/>
                <div>
                    <p class="mb-1">One of the greatest technological advancements of the last decade is Machine Learning. Machine Learning is a sub-field of Artificial Intelligence that is defined as computer systems that can mimic human behaviour. Machine Learning is the development of computer systems that can learn by analysing the data provided. In other words, it simply means providing programs with the ability to learn without being programmed explicitly. </p>                            
                    <p class="mb-1">Machine Learning Engineers are responsible for creating algorithms that can detect patterns by themselves without being explicitly programmed. The aim of this is to allow systems to learn without human aid and then perform actions accordingly. Machine learning systems search for patterns in data and make improved decisions on future instances. </p>
                    
                    
                    <h2 style="margin-top: 4rem;">What Can It Be Used For?</h2>
                    <p class="mb-1">Machine Learning is used to develop AI systems like chat bots, language translation applications, and predictive text. It is also used to develop recommender systems like the ones that recommend products, feeds, and shows for you on Amazon, social media, and Netflix respectively. </p>
                    <p class="mb-1">Advanced Machine Learning models are also used to develop systems in autonomous vehicles and machines like assisted surgery robots and machines that are used to diagnose medical conditions with images. </p>
                    <p class="mb-1"> </p>
                    
                    <h2 class="mt-2">Types Of Machine Learning</h2>
                    
                    <h3 class="mt-2">Supervised Learning</h3>
                    <p class="mb-1">This is the type of machine learning that allows an algorithm to learn patterns from previously labelled data. For example, by providing the system with 200 labelled images of dogs and cats, and then providing a random unlabelled image of a cat, the model will be able to determine that it is a cat.</p>

                    <h3 class="mt-2">Unsupervised Learning</h3>
                    <p class="mb-1">This is the type of machine learning that allows an algorithm to learn patterns from unlabelled data.  For example, by providing the system with 200 unlabelled images of dogs and cats, and then providing a random unlabelled image of a cat, the model will classify the data into two, the dogs and the cats and any future cat image provided will be automatically grouped with the cats. </p>

                    <h3 class="mt-2">Reinforcement Learning</h3>
                    <p class="mb-1"> This is a type of machine learning that helps an algorithm learn how to act in a specific environment based on the feedback it receives. It teaches the agent how to act based on rewards and penalties.  </p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>