<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Product management</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Product management</h1>
                <img src="./../assets/career-images/product-management.jpg" alt="product-photo"/>
                <div>
                    <p class="mb-1">Product Management is the practice that drives every step of a product’s life cycle from development, launch to pricing and improvements. Product managers always focus mostly on the product, and the user needs in order to create the best product available. They are responsible for communicating the needs of the customers and taking action to ensure they are satisfied. </p>                            
                    <p class="mb-1">Product managers require a deep understanding of their customers and the ability to develop customized solutions for their problems. In other words, they ensure your company delivers products with high-quality designs and performance. </p>
                    
                    <h2 style="margin-top: 4rem;">Responsibilities of A Product Manager</h2>
                    <p class="mb-1">Here are some of the responsibilities of a Product Manager;</p>
                    
                    <h3 class="mt-2">Research</h3>
                    <p class="mb-1">Product managers are more concerned with the customers of their products. This is why they are responsible for researching and analysing both user and market research. This can usually be done in collaboration with other research teams or separately depending on the company. </p>
                    <p class="mb-1">During this stage, they analyse the user needs and market needs and present their findings to the company. Customer feedback is essential to the success of any product. </p>

                    <h3 class="mt-2">Definition</h3>
                    <p class="mb-1">Once the research stage is finished, the product manager will help define the product roadmap, requirement and chart its successful launch. This often involves documenting the workflow to define when and how each product or feature is rolled out. </p>
                    <p class="mb-1">Product Managers often break these processes into a number of steps that will be carried out over a specific period of time according to the available resources. </p>

                    <h3 class="mt-2">Testing And Launching the Product</h3>
                    <p class="mb-1">Testing is what comes after the development process of a product is done. Product Managers are often responsible for testing the new product or feature before it is fully launched. Larger feature releases are broken into iterations and experiments like the “beta launch”. They are also responsible for analysing the success of each phase and handling any problem that may occur during the testing stage. </p>

                    <h3 class="mt-2">Analysing and Presenting Results</h3>
                    <p class="mb-1">Once the product has been launched on the market, the product manager is responsible for analysing the success and failures of the product as well as presenting these findings to the company management. </p>    
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>