<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>Software testing</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>Software testing</h1>
                <img src="./../assets/career-images/software-testing.jpg" alt="software-testing-photo"/>
                <div>
                    <p class="mb-1">Software testing is simply the act of determining if a mobile app or software has the exact functionality it is expected to. It often involves testing the software product for bugs and other defects before it is fully released to the public. </p>                            
                    <p class="mb-1">Software testers utilize a combination of automated and manual testing tools to find errors in a software and determine if it does exactly what it is expected to do without any issue. This is important in other to ensure that only the best quality software is released to the public.</p> 

                    <h2 style="margin-top: 4rem;">Why is software testing important?</h2>
                    <h3 class="mt-2">Product Quality</h3>
                    <p class="mb-1">Software testers have to make sure a software product is bug and defect free and fufills every requirement it is supposed to before it is released to the public. This will help ensure that the product maintains a good reputation once it is released on the market. It helps ensure the customers get the quality software they deserve. </p>
                    
                    <h3 class="mt-2">Security</h3>
                    <p class="mb-1">In other to use your software product, users will likely have to share some personal details that could leave them vulnerable in case on any successful hacker attempt on your software. Customers are often looking for safe software that can protect their personal details from hackers and software testing is one of the best way to test your app security before it is released to the public. </p>

                    <h3 class="mt-2">Cost Effective</h3>
                    <p class="mb-1">One of the best ways to save money in the long run is by using software testers to catch any bugs or defects and fix them early on before they are released to the public. Catching a bug this early on costs less to fix and also saves money in terms of user error that might occur due to this bug if it is released.</p>

                    <h3 class="mt-2">Customer Satisfaction </h3>
                    <p class="mb-1"> Any software developers aim is to develop a software product that will provide the best features and satisfaction to their customers. Software testing ensures your customer have the best user experience and also feels safe using your software. </p>  
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>