<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <!--<link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">-->
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title></title> 
    </head>
    <body>
        <main>
            <article>
                <h1></h1>
                <img src="./../assets/career-images/mobile-dev1.jpg" alt="mobile-dev-photo"/>
                <div>
                    <p class="mb-1"> </p>                            
                    <p class="mb-1"> </p>
                    <p class="mb-1"> </p>
                    
                    <h2 style="margin-top: 4rem;"></h2>
                    <p class="mb-1"></p>
                    <p class="mb-1"></p>
                    
                    <h3 class="mt-2"></h3>
                    <p class="mb-1"></p>
                    
                    <h3 class="mt-2"></h3>
                    <p class="mb-1"></p>  
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>