<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="views.css" type="text/css"/>
        <title>UI/UX design</title> 
    </head>
    <body>
        <main>
            <article>
                <h1>UI/UX design</h1>
                <img src="./../assets/career-images/ui-ux.jpg" alt="ui-ux-photo"/>
                <div>
                    <p class="mb-1"> A common misconception people have is that when they hear the term “Design”, they immediately assume you are talking about graphics design. But the fact is that design extends beyond just graphics design and another important aspect of design in software development is UI/UX design.</p>                            
                    <p class="mb-1">Although the term UI and UX design are often used synonymously, they are technically not the same thing at all. UI design means User Interface design while UX design means User Experience design. </p>
                    
                    <h2 style="margin-top: 4rem;">UI Design</h2>
                    <p class="mb-1">UI or User Interface design is the aspect of design that focuses on the graphical layout of a mobile app, website or software. UI design is mainly focused on how the user navigates a software product. This includes aspects of a software like the buttons, text entry field and any other item the users will interact with while using the product. </p>
                    <p class="mb-1">UI design involves designing screen layouts, interface animations, transitions and any other micro interactions. Basically, they decide what the product will look like. The focus on the aesthetics like the button shapes, color scheme, fonts, animation and any other type of visual element. </p>
                    <p class="mb-1">UI designers are considered graphic designers since they are concerned with aesthetics and they are responsible for making sure the theme of a software properly embodies its personality and visually stimulates the users. </p>
                    
                    <h2 style="margin-top: 4rem;">UI Design</h2>
                    <p class="mb-1"> UX design is User Experience design, it is the process of creating the best experience for users as they interact with the software product. It involves studying users and their behaviors and plans their experience on the app. It also deals with helping the users achieve their tasks on the app as fast as possible.</p>
                    <p class="mb-1">Basically, user experience depends on the ease with which users interact with the user interface. This is why user Interface design is an important aspect of User experience design. However, while UI design is concerned with the visual element of a software tool, UX design decides how the UI works. </p>
                </div>
            </article>

            <div style="margin-top: 3rem;">
                <h4>Learning Resources</h4>
                <p>There are various ways of honing this skill, you can check out the resources below and find 
                    the one that best suits you. Note that it is perfectly okay to use more than one resource to learn,
                    you can use a bootcamp, and also check a documentation, youtube videos, blogposts for clarifications. 
                    Just choose what's best for you!.</p>
            </div>
            <div>
                <h5 class="mt-2">Bootcamps</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Websites</h5>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
                <h5 class="mt-2">Youtube</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </main>
    </body>
</html>