<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="description" content="" /> 
        <link rel="icon" type="image/png" sizes="32x32" href="./../assets/favicon.ico">
        <link rel="stylesheet" href="./contribute.css" type="text/css"/>
        <title>Contribute</title> 
    </head>
    <body>
        <section class="container">
            <div class="outer">
                <div class="modal">
                    <div class="content">
                            <h1>Hello there!👋</h1>
                        <p class="first-p"> If you're a frontend developer and would like to contribute to 
                        this project, <span><a class="orange" href="https://github.com/toriola998/tech-career">Click here.</a>
                        </span></p>
                        <p>You are't a frontend developer and you don't code, But you're in tech; Of 
                        course you can still contribute <span><a class="orange" href="https://docs.google.com/forms/d/1yVTL2T6aZEdLUpMpeizI0IHLYU8eo8OZJVZRyy7YkIg">here</a></span></p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>